:host {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  background: #222;
  border-radius: 5px;
  box-shadow: inset -1px -2px 1px rgba(0,0,0,0.7),
    inset 1px 2px 1px rgba(255,255,255,0.3);
}

.marks {
  position: absolute;
  width: 86%;
  height: 86%;
  top: 7%;
  left: 7%;
  background:
  repeating-linear-gradient(#fff, #fff 10%, #222 10%, #222 100%);
  background-position: top;
  background-size: 100% 1.97%;

  &::before {
    content: '';
    position: absolute;
    background: repeating-linear-gradient(transparent, transparent 15%, #222 15%, #222 100%);;
    background-position: top;
    background-size: 100% 9.8%;
    left: 0;
    top: 0;
    bottom: 0;
    width: 10%;
  }

  &::after {
    content: '';
    position: absolute;
    background: repeating-linear-gradient(transparent, transparent 15%, #222 15%, #222 100%);;
    background-position: top;
    background-size: 100% 9.8%;
    right: 0;
    top: 0;
    bottom: 0;
    width: 10%;
  }
}

.hole {
  position: absolute;
  width: 12%;
  height: 90%;
  top: 5%;
  left: 44%;
  background: #000;
  box-shadow: inset -1px -1px 1px rgba(0,0,0,0.7),
  inset 1px 1px 1px rgba(255,255,255,0.3);
}

.slider {
  --sliderWidth: calc(var(--height) * .97);
  --sliderHeight: calc(var(--width) * .96);
  appearance: none;
  width: var(--sliderWidth);
  height: var(--sliderHeight);
  outline: none;
  background: transparent;
  transform-origin: center;
  transform: rotate(90deg);
  cursor: pointer;

  &::-webkit-slider-thumb {
    appearance: none;
    width: 15%;
    height: calc(var(--sliderHeight) * .9);
    background: linear-gradient(
      90deg, 
      #555 0%, 
      #555 13%,
      #333 22%, 
      #222 36%, 
      #555 36%, 
      #555 48%, 
      #fff 48%, 
      #fff 52%, 
      #444 52%, 
      #444 63%, 
      #111 63%, 
      #333 77%, 
      #444 87%, 
      #444 100%
    );
    box-shadow: inset 1px 0 1px rgba(0,0,0,.7), 
      inset -1px 0 1px rgba(0,0,0,.7);
    border: 1px solid rgba(0,0,0,0.7);
    border-radius: 4px;
  }
}

.label {
  position: absolute;
  bottom: 1%;
  text-align: center;
  width: 100%;
  font-size: 80%;
}