:host {
  --metal: repeating-conic-gradient(#777 0deg, #888 10deg, #777 20deg, #ccc 45deg, #777 90deg, #999 110deg, #777 180deg);
  --background: #ccc;
  display: grid;
  height: 100%;
  grid-auto-flow: column;
  background: var(--background);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.5vh;
}

.deck {
  position: relative;
  margin: auto;
  width: 70vh;
  height: 90vh;
  overflow: hidden;
}

.body {
  position: absolute;
  top: 7%;
  bottom: 0;
  left: 0;
  right: 0;
  background: #333;
  background-image: linear-gradient(#2a2a2a, #333);
  border-radius: 10px;
  box-shadow: inset 0 0 10px 5px rgba(0,0,0,.4);
  
  &::after {
    content: '';
    width: 60%;
    background: var(--background);
    height: 300%;
    position: absolute;
    top: 97.5%;
    left: 20%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    box-shadow: 0 0 10px 5px rgba(0,0,0,.4);
  }
}

.screen {
  position: absolute;
  height: 35%;
  width: 70%;
  top: 0;
  left: 15%;
  background: #222;
  border-radius: 5px;
}

.wave {
  position: absolute;
  top: 15%;
  background: #111;
  width: 80%;
  height: 70%;
  left: 10%;

  > .label {
    position: absolute;
    bottom: -1.5em;
    font-size: 60%;
    right: 0;
    color: #ccc;
    text-transform: uppercase;
  }

  > .waveform {
    position: absolute;
    top: 10%;
    width: 90%;
    height: 70%;
    left: 5%;
    // background: #55f;
  }
}

.wheel {
  position: absolute;
  top: 43%;
  left: 20%;
  width: 60%;
  padding-bottom: calc(60% - 2vh);
  background: #222;
  border: 1vh solid #ccc;
  border-radius: 100%;
  box-shadow: 0 0 5px 1px rgba(0,0,0,.3);

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    padding-bottom: calc(40% - 4px);
    border: 2px solid #666;
    border-radius: 100%;
    margin: 0 auto;
    background: #111;
    box-shadow: 0 0 2px #000;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    padding-bottom: 30%;
    background: #e32;
    font-size: 400%;
    font-weight: 800;
    border-radius: 100%;
    text-align: center;
  }

  > .side {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    z-index: 2;
    font-size: 600%;
    font-weight: 800;
    text-align: center;
  }
}

.model {
  position: absolute;
  right: 3%;
  bottom: 1%;
  text-align: center;

  > .sup {
    font-size: 50%;
  }
}

.cue {
  position: absolute;
  bottom: 18%;
  left: 3%;
  width: 15%;
  padding-bottom: calc(15% - 1.6vh);
  border-radius: 100%;
  background: #777;
  background-image: var(--metal);
  border: 0.8vh solid #f93;

  > .text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
    color: #222;
    font-weight: bold;
    font-size: 125%;
  }
}

.play {
  position: absolute;
  bottom: 3%;
  left: 3%;
  width: 15%;
  padding-bottom: calc(15% - 1.6vh);
  border-radius: 100%;
  background: #777;
  background-image: var(--metal);
  border: .8vh solid #3e6;

  > .label {
    position: absolute;
    text-align: center;
    font-size: 80%;
    top: -2.2em;
    left: 0;
    right: 0;
  }

  > .text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
    color: #222;

    > .material-icons {
      font-size: 200%;
    }
  }
}

.fader {
  position: absolute;
  right: 3%;
  width: 10%;
  height: 50%;
  bottom: 10%;
}
